# Variables de entorno para desarrollo con Docker Compose
DB_ENVIRONMENT=docker
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres123
DB_NAME=backend
DB_SYNC=true
DB_LOGGING=false
DB_SSL=false

# Configuración de JWT
JWT_SECRET=tu-super-secreto-jwt-docker
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=tu-super-secreto-refresh-jwt-docker
JWT_REFRESH_EXPIRES_IN=7d

# Configuración del Servidor
BACKEND_PORT=3000
NODE_ENV=development
EXTRACTOR_PORT=5001